<!DOCTYPE html>

<html>

<head>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
</head>
<h1 class="title has-text-centered">Welcome To Your Account</h1>

<div class="columns">
    <div class="column">
        <div class="box">
            <h6 class="title is-6 has-text-centered">Current Account:</h6>
            <p><strong>Account Name:</strong></p>
            <p><strong>Balance: </strong></p>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <h6 class="title is-6 has-text-centered">Debit & Credit Cards:</h6s>
            <h5> </h5>
                <table class="table">
                    <thead>
                        <tr>


                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-32x32">
                                        <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>MasterCard</strong> <small class="tag is-success"> Activated</small>
                                            <br />
                                            1235 1234 1234 1234
                                        </p>
                                        
                                    </div>
                                </div>
                            </article>
                        </tr>
                        <tr>
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-32x32">
                                        <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>VISA</strong> <small class="tag is-danger"> Disabeled</small>
                                            <br />
                                            1235 1234 1234 1234
                                        </p>
                                        
                                    </div>
                                </div>
                            </article>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
        <a>
            <button class="js-modal-trigger button" type="submit" data-target="modal-js-details"> Account Details
            </button>
        </a>
        <a>
            <button class="js-modal-trigger button" type="submit" data-target="modal-js-transactions"> Transactions
            </button>
        </a>
        <a href="./manageCards.html">
            <button class="button"> Manage Cards </button>
        </a>
        <a onclick="alert('Sign-out successful')" href="https://www.google.com/">
            <button class="button is-danger"> Sign out</button>
        </a>


    </ul>
</nav>


<body>
    <div id="modal-js-transactions" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Reciever">Reciever</abbr></th>
                            <th><abbr title="Amount">Amount</abbr></th>
                            <th><abbr title="Date"> Date</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Sean</th>
                            <td>£100</td>
                            <td>01/01/01</td>
                        </tr>
                    </tbody>
                </table>
                <div class="has-text-centered">
                    <button class="button close-modal-button is-success">Okay</button>
                </div>

            </div>

        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-js-details" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <h5 class="title is-5 has-text-centered">Account Details:</h5>
                <ul>
                    <li><b>Account Name:</b></li>
                    <li><b> Account Number:</b></li>
                    <li><b>Sort Code:</b></li>
                    <li><b>IBAN:</b></li>
                </ul>
                <div class="has-text-centered">
                    <button class="button close-modal-button is-success">Okay</button>
                </div>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</body>

</html>